* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
.main-container {
  
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
background-color: hsl(235, 21%, 11%);
}
